@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
}

.swiper-button-next::after , .swiper-button-prev::after {
  width: 26px;
  height: 26px;
  color: #3F3F46;
}
