@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "IRANSansFont";
  src: url("/public/fonts/IRANSansFont.ttf");
} */

@layer base {
  @font-face {
    font-family: "Vazir";
    src: url(../public/fonts/Vazir.woff);
  }

  @font-face {
    font-family: "IRANSansFont";
    src: url(/public/fonts/IRANSansFont.ttf);
  }
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
}

.swiper-button-next::after , .swiper-button-prev::after {
  width: 26px;
  height: 26px;
  color: #3F3F46;
}

.directionLTR {
  direction: ltr;
  text-align: left;
}
